* {
  scroll-behavior: smooth;
}

html {
  margin: 0;
  padding: 0;
}

.navbar-custom {
  position: fixed;
  left: 95%;
  top: 50%;
  transform: translate(-95%,-50%);
  z-index: 2;
}
.navbar-custom ul li {
  padding-bottom: 15px;
}

.navbar-custom i {
  border-radius: 100%;
  transition: 500ms ease;
  color: #222;
}

.navbar-custom i:hover {
  background-color: #222;
}

.navbar-custom .active {
  background-color: #222;
}






header, #contact {
  height: 100vh;
}

header {
  padding-top: 40vh;
  background-color: #CBD0D8;
}
header .accent {
  color: #D3AC2B;
}


header .show-arrow i{
  font-size: 3.5em;
  z-index: 1;
  cursor: pointer;
}

header .show-arrow {
  transition: 1s ease;
}
header .toggle-arrow {
  margin-top: 100px;
  transform: rotate(180deg) !important;
  color: #D3AC2B;
}

header .hidden-text {
  position: absolute;
  width: 50%;
  top: 50%;
  left: 25%;
  transform: translate(0, -50%);
  opacity: 0;
  transition: 1s ease;
  z-index: -1;
}


header .toggle-text {
  top: 60% !important;
}









#projects {
padding-top: 10vh;
padding-bottom: 10vh;
}

#projects h2{
text-transform: uppercase;
letter-spacing: 0.6em;
padding-bottom: 150px;
font-size: 2.5em;
}

.carousel .indicators .indicator-item {
  background-color: #333D51;
}
.carousel .indicators .indicator-item.active {
  background-color: #D3AC2B;
}

#projects p {
  text-align: left;
}
.btn {
  background-color: #D3AC2B;
  transition: 500ms ease;
}
.btn:hover {
  background-color: #CBD0D8;
  color: #222;
}

#contact {
  background-color: #D3AC2B;
  padding-top: 25vh;
  color: #F4F3EA;
}
#contact i {
  padding-top: 75px;
  font-size: 6em;
  color: #F4F3EA;
  transition: 500ms ease;
}
#contact a {
  color: #F4F3EA;
  transition: 500ms ease;
}
#contact i:hover, #contact a:hover {
  color: #333D51;
}


@media (max-width:500px){
  
}