* {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}



.navbar-custom {
  position: fixed;
  left: 95%;
  top: 40%;
}
.navbar-custom ul li {
  padding-bottom: 15px;
}

.navbar-custom i {
  border-radius: 100%;
  transition: 500ms ease;
  color: black;
}

.navbar-custom i:hover {
  background-color: black;
}

header, #projects, #contact {
  height: 100vh;
}

header {
  background-color: #CBD0D8;
  padding-top: 40vh;
}
header .accent {
  color: #D3AC2B;
}


header .show-arrow i{
  padding: 10px;
  font-size: 3.5em;
  cursor: pointer;
}

header .show-arrow {
  position: absolute;
  top: 50;
  left: 48%;
  transform: translate(-50, -52%);
  z-index: 2;
  transition: 1s ease;
}
header .toggle-arrow {
  margin-top: 100px;
  transform: rotate(180deg) !important;
  color: #D3AC2B;
}

header .hidden-text {
  opacity: 0;
  transition: 1s ease;
}
header .toggle-text {
  margin-top: 50px;
}

#projects {
padding-top: 10vh;
}

#projects h2{
text-transform: uppercase;
letter-spacing: 0.6em;
padding-bottom: 150px;
}

.carousel .indicators .indicator-item {
  background-color: #333D51;
}
.carousel .indicators .indicator-item.active {
  background-color: #D3AC2B;
}

#projects .project-links{
  padding: 125px;
  margin: 20px;
}

#projects p {
  text-align: left;
}
.btn {
  background-color: #D3AC2B;
  transition: 500ms ease;
}
.btn:hover {
  background-color: #CBD0D8;
  color: #222;
}

#contact {
  background-color: #D3AC2B;
  padding-top: 25vh;
  color: #F4F3EA;
}
#contact i {
  padding-top: 75px;
  font-size: 6em;
  color: #F4F3EA;
}
#contact a {
  color: #F4F3EA;
}